<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

<script>
    $(document).ready(function() {
        $('#control').click(function() {
            if($('#control').children("i").hasClass("fa-play")){
                $('#control').children("i").removeClass("fa-play");
                $("#control").children("i").addClass("fa-pause");
                $(this).children('span').text('Pause');
            }
            else{
                $('#control').children("i").removeClass("fa-pause");
                $("#control").children("i").addClass("fa-play");
                $(this).children('span').text('Play');
            }
        })
    })
</script>

</body>
</html>