<%- include("partials/header") %>
<div class="container">
    <h4>LEVEL A2</h4>
    <h2>Read at 3 different speeds</h2>
    <div>
        <div class="row">
            <div class="col-3" id="aside">
                <div id="menu1">
                    <a><span class="speed">SLOW<p>90 WPM</p></span></a>
                    <a><span class="speed">MEDIUM<p>120 WPM</p></span></a>
                    <a><span class="speed">QUICK<p>150 WPM</p></span></a>
                </div>
                <div id="menu2">
                    <a id="control"><i class="fa fa-play fa-lg pr-3"></i><span>Play</span></a>
                    <a id="restart"><i class="fa fa-power-off fa-lg pr-3"></i>Restart</a>
                </div>
            </div>
            <div class="col-9" id="content">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum enim eveniet incidunt? Totam non excepturi id accusantium voluptate ad aut recusandae in nobis nisi ducimus quidem labore commodi culpa laboriosam, distinctio placeat aliquid. Suscipit consectetur at quisquam doloremque eaque tempore officiis. Labore deleniti eos repudiandae deserunt beatae consequatur voluptatem at.
            </div>
        </div>
    </div>
</div>

<%- include("partials/footer") %>