#menu1{
    background-color: #192A56;
}
#menu1 a{
    display: block;
    font-size: 20px;
    color: black;
    padding: 16px;
    padding-top: 8px;
    text-decoration: none;
    color: #DAE0E2;
}

#menu1>a>span{
    font-size: 12px;
}

.speed p{
    margin: 0;
    padding: 0;
}

#menu2 a{
    display: block;
    font-size: 20px;
    background-color: #f1f1f1;
    padding: 16px;
    margin-top: 10px;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

#menu2{
    padding-right: 15px;
}

#aside{
    padding-right: 0;
}

#menu1 a:hover, #menu1 a:visited{
    color: orange;
    text-decoration: underline;
    cursor: pointer;
    text-underline-position: left;
}

#content{
    background-color: #192A56;
    padding: 1px 16px;
    line-height: 2em;
    font-size: 2em;
    padding-top: 150px;
    color: #DAE0E2;
    height: 400px;
    overflow: hidden;
}